.faleconosco {
  word-break: break-word;
  //border: solid;
  margin-top: 30px;
  margin-bottom: 50px;
}

.env {
  background-color: #439AFF;
  padding: 10px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 20px;
  font-size: 10px;
  color: white;
  margin-bottom: 40px;
}