.centro{
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 47.5px);
}

.form-group{
  width: 300px;
}

.titulo {
  font-size: 30px;
  margin-bottom: 20px;
}

