.entidadeindex {

  .linkReturn {
    text-decoration: underline;
    font-size: 10px;
    font-weight: bold;
    color: #439AFF;
    margin: 40px auto 35px;

  }

  .titulosPrincipais1 {
    justify-content: center;
    color: #4D4F5C;
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
  }

  .add {
    margin-top: 15px;
    background-color: #F1F1F1;
    padding: 6px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 20px;
    font-size: 10px;
    color: #4D4F5C;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .titulosPrincipais {
    justify-content: center;
    color: #4D4F5C;
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .escolhaCampanhaEvento {
    margin: 0 auto;
    grid-template-columns: repeat(2, 50%);
    display: grid;

    a {
      text-decoration: none;
      margin: 15px;
    }

    .precadastrolink {
      width: 498px;
      height: 271px;
    }

    .doarimg {
      //background-image: url("/public/imagens/doar.png");
      //background-image: url("/resources/assets/imagens/doar.png");
      background-image: url("../../imagens/doar.png");
      //background-color: #636b6f;
      width: 498px;
      height: 271px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .cadastroimg {
      //background-color: #636b6f;
      background-image: url("../../imagens/receber.png");

      width: 498px;
      height: 271px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .nomeopcao {
      color: white;
      font-size: 32px;
      font-weight: bold;
      margin-left: 30px;
    }

    .mensagemopcao {
      color: white;
      font-size: 10px;
      margin-left: 30px;
    }

  }

  .imgcampanhas {
    margin: 0 auto;
    grid-template-columns: repeat(2, 50%);
    display: grid;
  }

  .divcampanhas {
    width: 475px;
    height: 264px;
    border-width: 1px;
    border-color: rgba(202, 206, 213, .21);
    border-style: solid;
    box-shadow: 3px 3px rgba(0, 0, 0, .03);
    margin: 15px;

    img {
      object-fit: cover;
      width: 175px;
      height: 262px;
    }

    .observacoescampanhas {
      margin-left: 20px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      padding: 20px 0;
      justify-content: space-around;

      p {
        margin: 0;
        color: #8A8A8A;
      }

      a {
        margin: 0;
        color: #8A8A8A;
      }

      h4 {
        margin: 0;
        font-size: 18px;
        font-weight: 400;
        color: #4D4F5C;
      }

      h6 {
        font-size: 14px;
        font-style: italic;
        color: #4D4F5C;
      }

      .descricaocampanhas {
        font-size: 12px;
        width: 280px;
        height: 130px;
        //margin-top: 15px;
      }

      .like {
        display: flex;
        width: 100%;
        justify-content: space-between;
      }

      .numlike {
        margin-left: -30px;
        font-size: 12px;
        color: #4D4F5C;
      }

      .saibamaiscampanhas {
        font-size: 10px;
        //margin-top: 5px;
        //margin-left: auto;
        color: #4D4F5C;
        //margin-left: 150px;
        //float: right;
        text-decoration: none;
        background-color: #F1F1F1;
        padding: 4px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 15px;
      }

      .datacampanhas {
        font-size: 12px;
        font-style: italic;
        margin: 10px 0;
      }

    }
  }

  .imgeventos {
    margin: 0 auto;
    grid-template-columns: repeat(2, 50%);
    display: grid;
  }

  .diveventos {
    width: 475px;
    height: 264px;
    border-width: 1px;
    border-color: rgba(202, 206, 213, .21);
    border-style: solid;
    box-shadow: 3px 3px rgba(0, 0, 0, .03);
    margin: 15px;

    img {
      object-fit: cover;
      width: 175px;
      height: 262px;
    }

    .observacoeseventos {
      margin-left: 20px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      padding: 20px 0;

      p {
        margin: 0;
        color: #8A8A8A;
      }

      a {
        margin: 0;
        color: #8A8A8A;
      }

      h4 {
        margin: 0;
        font-size: 18px;
        font-weight: 400;
        color: #4D4F5C;
      }

      .descricaoeventos {
        font-size: 12px;
        width: 280px;
        height: 130px;
      }

      .saibamaiseventos {
        font-size: 10px;
        //margin-top: 5px;
        margin-left: auto;
        color: #4D4F5C;
        //margin-left: 150px;
        float: right;
        text-decoration: none;
        background-color: #F1F1F1;
        padding: 4px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 15px;
      }

      .dataeventos {
        font-size: 12px;
        font-style: italic;
        margin: 10px 0;
        color: #4D4F5C;
      }

    }
  }

  .final {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;

  }

  .finalCurtidas {
    width: 475px;
    height: auto;

    .titulosPrincipais {
      //justify-content: center;
      color: #4D4F5C;
      font-size: 24px;
      font-weight: bold;
      margin-top: 30px;
      margin-bottom: 20px;
    }

    .qnt {
      font-size: 18px;
      font-weight: lighter;
    }

    .imgcurtidas {

      margin-right: 25px;
      .imgperfilrefe {
        width: 50px;
        //height: auto;
        height: 50px;
        border-radius: 100%;
        margin-right: 10px;
        margin-top: 5px;
      }
    }
  }
}

.finalComentarios {
  width: 475px;
  //height: 264px;

  .rpts {
    width: 750px;
    flex-direction: column;
    align-items: center;
    margin: auto;

    .rpt {
      margin-left: 38px;
      margin-bottom: 5px;
    }

    .nomerpts {
      font-size: 12px;
      font-weight: 500;
      color: #4D4F5C;
    }

    .datarpts {
      font-size: 10px;
      font-style: italic;
      color: #949494;
    }

    .primletra {
      font-size: 28px;
      font-weight: lighter;
      color: #4D4F5C;
      background-color: #EBEBEB;
      border-radius: 100%;
      width: 55px;
      height: 55px;
      align-items: center;
      display: flex;
      justify-content: center;
    }

    .coments {
      font-size: 12px;
      color: #949494;
      width: 475px;
    }

    hr {
      width: 475px;
      margin-left: 0;
      margin-right: 0;
    }
  }

}

