.siteevento {


  //background-image: linear-gradient(120deg, #ffffff 0%, #ebedee 100%);
  //-webkit-clip-path: polygon(0 9%, 100% 0, 100% 90%, 0% 100%);
  //clip-path: polygon(0 9%, 100% 0, 100% 90%, 0% 100%);
  //width: auto;
  //height: 523px;

  /*.tituloeventos {
    margin-top: 50px;
    justify-content: center;
    color: #4D4F5C;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 40px;
  }*/

  .divevento {
    //margin-top: 50px;
    width: 475px;
    height: calc (100vh - 70px);
    border-width: 1px;
    border-color: rgba(202, 206, 213, 0);
    border-style: solid;

    //margin-left: auto;
  }

  .divevento:hover {
    border-radius: 3px;
    //width: 100px;
    //height: 100px;
    border-width: 1px;
    border-color: #CACED5;
    border-style: solid;
    //display: inline-block
  }

  .observacoesevento {
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px 0;

    p {
      margin: 0;
      color: #8A8A8A;
    }

    a {
      margin: 0;
      color: #8A8A8A;
    }

    h4 {
      margin: 0;
      font-size: 18px;
      font-weight: 400;
      color: #4D4F5C;
    }

    .descricaoevento {
      font-size: 12px;
      width: 280px;
      height: 130px;
    }

    .saibamaisevento {
      font-size: 10px;
      margin-top: 5px;
      margin-left: auto;
      color: #4D4F5C;
      //margin-left: 150px;
      float: right;
      text-decoration: none;
      background-color: #F1F1F1;
      padding: 4px;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 15px;
    }

    .dataevento {
      font-size: 12px;
      font-style: italic;
      margin: 10px 0;
    }

  }
}
