
body {
  margin: 0;
  padding: 0;

  .principalsite{
    //margin-top: 100px;
    padding: 0px;
  }

  .row{
    margin: 0;
    padding: 0;
  }

  .form-control[readonly] {
    background: transparent;
    padding: 0;
    border: none;
    font-size: 14px;
    color: #6C757D;
    margin-bottom: 25px;
  }
}