.precadastrogeral {

  .titulosPrincipais {
    justify-content: center;
    color: #4D4F5C;
    font-size: 28px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 40px;
  }

  a {
    background-image: url("/public/imagens/doar.png");
    //background-image: url("/resources/assets/imagens/doar.png");
  }

  .doarimg {

  }

}