.welcome {
  display: flex;
justify-content: space-between;
}

.titlesite {
  //margin-top: 150px;
  margin-left: 100px;
  font-size: 60px;
  color: #4D4F5C;
  text-align: left;
  font-weight: bold;
}

.imagemwelcome {
  margin-left: 100px;
  width: 554px;
  height: 559px;
}