.welcome {
  display: flex;
  justify-content: space-between;
  min-height: calc(100vh - 70px);
}

.add {
  margin-top: 15px;
  background-color: #F1F1F1;
  padding: 6px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 20px;
  font-size: 10px;
  color: #4D4F5C;
  margin-bottom: 10px;
  cursor: pointer;
}

.titlesite {
  margin-top: 70px;
  margin-left: 100px;
  font-size: 60px;
  color: #4D4F5C;
  text-align: left;
  font-weight: bold;
}

.imagemwelcome {
  margin-left: 100px;
}

.instrucoes {
  background-image: linear-gradient(120deg, #ffffff 0%, #ebedee 100%);
  -webkit-clip-path: polygon(0 9%, 100% 0, 100% 90%, 0% 100%);
  clip-path: polygon(0 9%, 100% 0, 100% 90%, 0% 100%);
  width: auto;
  height: 523px;


}

.circulos {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

  .circulobloco {

    .ins {

      width: 155px;
    }
  }


  .cir {
    position: relative;

    img:nth-child(2){
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .num {
    width: 67px;
    height: 30px;
    font-size: 60px;
    font-weight: bold;
    color: #4D4F5C;

    p {
      justify-content: center;
      color: #4D4F5C;
      font-weight: bold;
      position: relative;
      top: -60px;
    }

  }
}

.imginstrucoes {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.sitedestaques {
  //background-image: linear-gradient(120deg, #ffffff 0%, #ebedee 100%);
  //-webkit-clip-path: polygon(0 9%, 100% 0, 100% 90%, 0% 100%);
  //clip-path: polygon(0 9%, 100% 0, 100% 90%, 0% 100%);
  //width: auto;
  //height: 523px;


  .titulodestaques {
    justify-content: center;
    color: #4D4F5C;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 40px;
  }

  .imgdestaques {
    margin: 0 auto;
    grid-template-columns: repeat(2, 50%);
    display: grid;
  }

  .divdestaques {
    width: 475px;
    height: 264px;
    border-width: 1px;
    border-color: rgba(202, 206, 213, .21);
    border-style: solid;
    box-shadow: 3px 3px rgba(0, 0, 0, .03);
    margin: 15px;

    img {
      object-fit: cover;
      width: 175px;
      height: 262px;
    }


  }


  .observacoes {
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px 0;

    p {
      margin: 0;
      color: #8A8A8A;
    }

    a {
      margin: 0;
      color: #8A8A8A;
    }

    h4{
      margin: 0;
      font-size: 18px;
      font-weight: 400;
      color: #4D4F5C;
    }

    h6 {
      font-size: 14px;
      font-style: italic;
      color: #4D4F5C;
    }

    .descricaocampanhadestaque {
      font-size: 12px;
      width: 280px;
      height: 130px;
    }

    .saibamaiscampanhadestaque {
      font-size: 10px;
      margin-top: 5px;
      margin-left: auto;
      color: #4D4F5C;
      //margin-left: 150px;
      float: right;
      text-decoration: none;
      background-color: #F1F1F1;
      padding: 4px;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 15px;
    }

    .datacampanhadestaque{
      font-size: 12px;
      font-style: italic;
      margin: 10px 0;
    }


  }
}
